<cart-drawer class="drawer">
     <div id="CartDrawer" class="cart-drawer">

   

    <div class="header-minicart">
        <p>Carrinho <span class="hidden buble-quantity">{{ cart.item_count }}</span> </p>


       <close-minicart>
           <div class="svg-wrapper small">
               {{- 'icon-close.svg' | inline_asset_content -}}
           </div>
       </close-minicart> 
    </div>
    {% if cart != empty %}
        <cart-items>
            <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
                {%- for item in cart.items -%}
                    {{ item.title }}
                {% endfor %}
            </div>
        </cart-items>

    
        {% else %}
         <div class="empty-cart">
            <h4>Seu carrinho está vazio</h4>
            <a href="/collection/all" title="continuar comprando" class="button button-primary">Continuar comprando</a>
        </div> 
    {% endif %}
      </div>

</cart-drawer>