.drawer {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  width: 40dvw;
  height: 100%;
  transition: all .3s ease;
  background-color: #fff;
  transform: translateX(130%);
  padding: 1.3rem;
  border-radius: 15px;

  &.active {
    transform: translateX(0);
  }

  .cart-drawer {
    height: 100%;
  }
  .header-minicart {
    display: flex;
    align-items: center;
    justify-content: space-between;    
  }

  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: .5rem;

    h4 {
      font-size: clamp(20px,3vw,30px);
    }

    a {
      padding: 1rem 2rem;
      border-radius: 4px;
    }
  }
}